*{
    margin: 0;
    padding: 0;
}

.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
        margin: 0;
    /* line-height: 1.5; */
    color: #333;
    background-color: #f7f7f7;
    text-align: center;
    font-size: .14rem;
    font-family: Helvetica Neue,Helvetica,Tahoma,sans-serif;
}
header{
    height: .45rem;
    line-height: .45rem;
    background: #f9f9f9;
    color: #616161;
    font-size: .17rem;
    border-bottom: 1px solid #bbb;
    z-index: 999;
    width: 100%;
    text-align: center;
}
.fanhui{
    width: .22rem;
    height: .22rem;
    overflow: hidden;
    position: absolute;
    background-image:url(https://plogin.m.jd.com/jd-mlogin/1.1.4/images/a3a248f4a949c14c2cb4fb9ac656f1f5.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    top: .11rem;
    left: .11rem;
    background-position: 0 -.63rem;
}
.page{
    width: 90%;
    left: 0; 
    padding: .15rem;
    overflow: auto;
}
.cont{
    max-width: 7.5rem;
    margin: 0 auto;
}
.xiayibu{
    opacity: .3;
    height: .45rem;
    line-height: .46rem;
    border-radius: 4px;
    border: 0;
    font-size: .16rem;
    background-color: #e93b3d;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    color: #333;
}
.input{ 
position: relative;
    width: 100%;
    height: .45rem;
    line-height: .45rem;
    overflow: hidden;
    padding: 0 .05rem;
    margin-top: .15rem;
    background: white
}
#telphone{
    width: 100%;
    padding-right: .3rem;
    margin-left: 0;
    /* padding-left: .6rem; */
    border-radius: 0;
    border: 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    height: 40px;
}
.icon-clear{
    display: block;
    width: .25rem;
    height: .25rem;
    background-image: url(https://plogin.m.jd.com/jd-mlogin/1.1.4/images/a3a248f4a949c14c2cb4fb9ac656f1f5.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
    position: absolute;
    z-index: 888;
    right: 50px;
    bottom: 10px;
    display: none;
}
.notice{
    font-size: .12rem;
    line-height: .3rem;
    color: #e93b3d;
    min-height: .15rem;
    text-align: left;
}
.notice-def{
    color: #999;
}
.yanjing{
    position: absolute;
    right: .05rem;
    top: .16rem;
    height: .25rem;
    overflow: hidden;
    z-index: 99;
}
.yanjing_box{
    display: block;
    width: .25rem;
    height: .25rem;
    background-image: url(../img/yanjing1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
}
